workflows/board_pack_generate.json
{
  "name": "CWSI - Board Pack Generate (T-7, Claude)",
  "nodes": [
    {
      "parameters": {
        "content": "## Board Pack generator (T-7) — n8n -> Claude (trace-to-data)\n\nWHAT: the dashboard POSTs the app-computed figure set to this webhook; we build a\ntrace-to-data prompt, call Claude (claude-opus-4-8, adaptive thinking, JSON schema\noutput), and return { narrative, recommendations, model }. The APP validates every\nreturned number against the figure set and blocks publish on any untraceable figure.\n\nSETUP (one-time):\n1. Import this workflow, then open the \"Anthropic: Messages\" HTTP node and select your\n   Anthropic credential (key stays here, never in the browser).\n   - Easiest: create an \"Anthropic\" credential (apiKey) and it injects x-api-key.\n   - The node already sends the anthropic-version + content-type headers.\n2. Activate the workflow. Copy the PRODUCTION webhook URL from the Webhook node.\n3. In the dashboard .env set:  VITE_BOARDPACK_WEBHOOK_URL=<that production URL>\n   (restart vite). The webhook allows CORS from any origin so the SPA can call it.\n\nNOTES:\n- Only does board-pack generation (not a generic Claude proxy): the prompt is built\n  from the figureSet shape, and model + max_tokens are pinned here.\n- If you'd rather not expose it openly, add a header-auth check on the Webhook node\n  and send the same header from boardPackClient.js.\n- The app re-validates every number, so a mis-paste or model slip is caught, not shipped.",
        "height": 520,
        "width": 460
      },
      "id": "bp-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "board-pack-generate",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "bp-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        320
      ],
      "webhookId": "cwsi-board-pack-generate"
    },
    {
      "parameters": {
        "jsCode": "// Board Pack (T-7, enriched): build the Anthropic Messages request from the\n// app-computed figure set. The app sends ONLY the figures; this node turns them\n// into a trace-to-data prompt. Every number the model may state comes from the\n// figureSet's traceTable (ALLOWED NUMBERS) — which now also carries channel,\n// conversion, pipeline-stage, retention and QoQ-trend figures, so the richer\n// narrative below is still bound by the same zero-invention guarantee.\nconst NL = String.fromCharCode(10);\nconst inp = $input.first().json;\nconst b = inp.body || inp;\nconst fs = (b && b.figureSet) || {};\nconst M = fs.metrics || [];\nconst L = fs.levers || [];\nconst T = fs.traceTable || [];\nconst meta = fs.meta || {};\nconst channels = fs.channels || [];\nconst conversion = fs.conversion || [];\nconst ph = fs.pipelineHealth || {};\nconst ret = fs.retention || {};\nconst order = (meta.metricOrder || M.map(function (m) { return m.label; })).join(' -> ');\n\nconst mLines = M.map(function (m) {\n  return m.order + '. ' + m.label + ': ' + m.valueDisplay +\n    ' (target ' + m.targetDisplay + ', PROVISIONAL; status ' + m.status +\n    (m.trend ? '; ' + m.trend.display : '') +\n    (m.note ? '; ' + m.note : '') + ')';\n}).join(NL);\n\nconst lLines = L.length\n  ? L.map(function (l, i) {\n      return (i + 1) + '. ' + l.title + ' - gap ' + l.gapDisplay +\n        '; estimated pipeline impact ' + l.impactDisplay + ' (' + l.basis + ')';\n    }).join(NL)\n  : '(no open gaps in this scope)';\n\nconst cLines = channels.length\n  ? channels.map(function (c) {\n      return '- ' + c.channel + ': pipeline ' + c.pipelineDisplay +\n        ' (' + c.pipelineShareDisplay + ' of total), ' + c.mqlDisplay +\n        ' MQLs, closed-won ' + c.closedWonDisplay;\n    }).join(NL)\n  : '(no channel breakdown in this scope)';\n\nconst convAvail = conversion.filter(function (c) { return c.display && c.display !== 'n/a'; });\nconst convLines = convAvail.length\n  ? convAvail.map(function (c) { return '- ' + c.from + ' -> ' + c.to + ': ' + c.display; }).join(NL)\n  : '(conversion not available in this scope)';\n\nconst phLine = ph.hasData\n  ? 'Open pipeline: ' + ph.openCountDisplay + ' opportunities worth ' + ph.openValueDisplay +\n    '; probability-weighted forecast ' + ph.weightedDisplay +\n    (ph.snapshotDate ? ' (snapshot ' + ph.snapshotDate + ', region-scoped current state, NOT a quarter slice)' : '') + '.'\n  : '(no open-pipeline snapshot in this scope)';\n\nconst phStages = (ph.hasData && ph.stages && ph.stages.length)\n  ? ph.stages.map(function (s) { return '- ' + s.stage + ': ' + s.countDisplay + ' opps, ' + s.valueDisplay; }).join(NL)\n  : '';\n\nconst retLine = ret.hasData\n  ? 'Retained contracts (won renewals): ' + ret.retainedCountDisplay + ' worth ' + ret.retainedValueDisplay +\n    '. Expansion (upsell + cross-sell): ' + ret.expansionCountDisplay + ' worth ' + ret.expansionValueDisplay + '.'\n  : '(no retention data in this scope)';\n\nconst allowed = T.map(function (t) { return '- ' + t.label + ': ' + t.display; }).join(NL);\n\nconst system = [\n  'You write the executive board pack for CWSI, a B2B cybersecurity firm, from its marketing-intelligence dashboard.',\n  'TRACE-TO-DATA RULES (absolute, non-negotiable):',\n  '1) Use ONLY numbers that appear in FIGURES or ALLOWED NUMBERS below. Never invent, estimate, extrapolate, round to a new value, or calculate a new number. If a figure you want is not supplied, describe it qualitatively with no number.',\n  '2) Quote every number in its exact displayed form (for example \"GBP 612k\" as shown, \"17.5%\", \"+12% QoQ\").',\n  '3) Targets are PROVISIONAL placeholders - say a target is provisional whenever you cite one. If a metric actual is pending or shows n/a, say so; never fabricate it.',\n  '4) Follow the agreed metric order: ' + order + '.',\n  '5) The pipeline-stage snapshot is current-state and region-scoped, NOT a quarter slice - never describe it as a quarterly figure.',\n  'Audience: the board and the CCO. Be specific and substantive: write each narrative section as a developed passage of 4 to 7 sentences (a full short paragraph), citing the relevant figures and the reasoning behind them, the so-what for the business, and what it implies for the decision at hand - detailed enough that the board can act on it, never one-line summaries. Return JSON only, matching the required schema.'\n].join(NL);\n\nconst user = [\n  'Scope: ' + (meta.regionLabel || 'All Regions') + ' | ' + (meta.quarterLabel || 'YTD') + ' | FY2026.',\n  (meta.prevQuarterLabel ? 'QoQ trends compare against ' + meta.prevQuarterLabel + '.' : 'No prior in-scope quarter, so no QoQ trend is supplied.'),\n  '',\n  'FIGURES (metric: actual (target; status; QoQ trend)):',\n  mLines,\n  '',\n  'FUNNEL CONVERSION (stage to stage):',\n  convLines,\n  '',\n  'CHANNEL CONTRIBUTION (share of total pipeline):',\n  cLines,\n  '',\n  'OPEN-PIPELINE HEALTH:',\n  phLine,\n  phStages,\n  '',\n  'RETENTION:',\n  retLine,\n  '',\n  'GAPS TO CLOSE (ranked by estimated pipeline impact):',\n  lLines,\n  '',\n  'ALLOWED NUMBERS (the only numbers you may state, with their exact display form):',\n  allowed,\n  '',\n  'Produce:',\n  '- narrative.onTrack: what is on or above (provisional) target, in the agreed metric order; cite QoQ trend where supplied.',\n  '- narrative.behindAddressable: what is behind but addressable, citing the ranked levers and their estimated pipeline impact.',\n  '- narrative.channelInsights: which channels are driving pipeline and MQLs and where the concentration or risk sits, citing channel shares. If no breakdown is supplied, say so briefly.',\n  '- narrative.pipelineCommentary: read the open-pipeline health and probability-weighted forecast and what it implies for converting the quarter and H2. If no snapshot is supplied, say so briefly.',\n  '- narrative.riskFlags: the data caveats the board should know - provisional targets, any pending/n-a metric, the MQL-date proxy, and that the pipeline snapshot is current-state not a quarter slice. Qualitative; cite a number only if it is in ALLOWED NUMBERS.',\n  '- narrative.h2Plan: the H2 plan to close the gaps, highest-impact levers first.',\n  '- recommendations[]: prioritised actions; each {title, rationale, estimatedImpact (use a lever impact figure where applicable, else \"target pending\"), metric (the board metric it moves)}.'\n].join(NL);\n\nconst strProp = { type: 'string' };\nconst schema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    narrative: {\n      type: 'object',\n      additionalProperties: false,\n      properties: {\n        onTrack: strProp,\n        behindAddressable: strProp,\n        channelInsights: strProp,\n        pipelineCommentary: strProp,\n        riskFlags: strProp,\n        h2Plan: strProp\n      },\n      required: ['onTrack', 'behindAddressable', 'channelInsights', 'pipelineCommentary', 'riskFlags', 'h2Plan']\n    },\n    recommendations: {\n      type: 'array',\n      items: {\n        type: 'object',\n        additionalProperties: false,\n        properties: {\n          title: strProp,\n          rationale: strProp,\n          estimatedImpact: strProp,\n          metric: strProp\n        },\n        required: ['title', 'rationale', 'estimatedImpact', 'metric']\n      }\n    }\n  },\n  required: ['narrative', 'recommendations']\n};\n\nreturn [{ json: { anthropicBody: {\n  model: 'claude-opus-4-8',\n  max_tokens: 16000,\n  thinking: { type: 'adaptive' },\n  system: system,\n  messages: [{ role: 'user', content: user }],\n  output_config: { effort: 'medium', format: { type: 'json_schema', schema: schema } }\n} } }];"
      },
      "id": "bp-build",
      "name": "Build Anthropic Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropicBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "bp-anthropic",
      "name": "Anthropic: Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the Anthropic response. With adaptive thinking the content array may hold\n// a thinking block before the text block, so pick the text block explicitly.\nconst res = $input.first().json;\nconst content = res.content || [];\nlet text = '';\nfor (const blk of content) { if (blk.type === 'text') { text = blk.text; break; } }\nlet parsed = {};\ntry { parsed = JSON.parse(text); } catch (e) { parsed = { _parseError: String(e), raw: text }; }\nreturn [{ json: {\n  narrative: parsed.narrative || {},\n  recommendations: Array.isArray(parsed.recommendations) ? parsed.recommendations : [],\n  model: res.model || 'claude-opus-4-8'\n} }];"
      },
      "id": "bp-parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "bp-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Anthropic Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Anthropic Request": {
      "main": [
        [
          {
            "node": "Anthropic: Messages",
            "type": "main",
            "index": 0
          }
          
        ]
      ]
    },
    "Anthropic: Messages": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}