workflows/GA4_ingest.json
{
    "nodes": [
      {
        "parameters": {
          "content": "## GA4 -> fact_web_daily\n\nAFTER IMPORT:\n1. Open 'Config' and set ga4_property_id (GA4 Admin -> Property -> Property details -> Property ID, numeric).\n2. Open 'GA4: Run Report' and select your Google Analytics OAuth2 credential (aarav@braind.io).\n3. Run once manually after Aryamaan grants Viewer access; check fact_web_daily + data_quality_log.\n\nGrain: date x region x hostname (hostname kept so insights.cwsisecurity.com coverage is visible).\nRegion from GA4 countryId (alpha-2). Metric 'keyEvents' = GA4 conversions.",
          "height": 320,
          "width": 420
        },
        "id": "249d3268-18fd-4974-810a-24f358479027",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -160,
          -160
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 5
              }
            ]
          }
        },
        "id": "a9b20d0d-4d86-48c0-a000-09d93974affe",
        "name": "Daily 05:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -208,
          224
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "ga4_property_id",
                "value": "REPLACE_WITH_GA4_PROPERTY_ID",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "lookback_days",
                "value": 7,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "9f591293-c685-4cec-bf32-d839be943a91",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          224
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $('Config').first().json.ga4_property_id }}:runReport",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleAnalyticsOAuth2",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"dateRanges\": [{ \"startDate\": \"{{ $('Config').first().json.lookback_days }}daysAgo\", \"endDate\": \"today\" }],\n  \"dimensions\": [{ \"name\": \"date\" }, { \"name\": \"countryId\" }, { \"name\": \"hostName\" }],\n  \"metrics\": [{ \"name\": \"sessions\" }, { \"name\": \"keyEvents\" }, { \"name\": \"engagedSessions\" }],\n  \"limit\": 100000\n}",
          "options": {}
        },
        "id": "dd493256-1985-4442-b6ac-aeab2ace4ccc",
        "name": "GA4: Run Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          224
        ],
        "credentials": {
          "googleAnalyticsOAuth2": {
            "id": "md3SIZV8NioBTzpQ",
            "name": "CWSI"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// GA4 runReport response -> fact_web_daily rows at date x region x hostname grain.\nconst resp = $input.first().json;\nconst rows = resp.rows || [];\n\n// countryId is ISO 3166-1 alpha-2\nfunction regionFromAlpha2(cc) {\n  const c = String(cc || '').toUpperCase();\n  if (['GB', 'IE', 'IM', 'GG', 'JE'].includes(c)) return 'UKI';\n  if (['BE', 'LU'].includes(c)) return 'BeLux';\n  if (c === 'NL') return 'NL';\n  return 'UNASSIGNED';\n}\n\nconst agg = {};\nlet issues = 0;\nfor (const r of rows) {\n  const d = (r.dimensionValues || []).map((v) => v.value);\n  const m = (r.metricValues || []).map((v) => Number(v.value) || 0);\n  const raw = String(d[0] || '');\n  if (raw.length !== 8 || isNaN(Number(raw))) { issues++; continue; }\n  const date = raw.slice(0, 4) + '-' + raw.slice(4, 6) + '-' + raw.slice(6, 8);\n  const region = regionFromAlpha2(d[1]);\n  const host = String(d[2] || '');\n  const key = date + '|' + region + '|' + host;\n  if (!agg[key]) {\n    agg[key] = { activity_date: date, region_code: region, hostname: host,\n      sessions: 0, key_events: 0, engaged_sessions: 0, source: 'ga4' };\n  }\n  agg[key].sessions += m[0] || 0;\n  agg[key].key_events += m[1] || 0;\n  agg[key].engaged_sessions += m[2] || 0;\n}\n\nconst out = Object.values(agg);\nif (out.length === 0) {\n  throw new Error('GA4 returned 0 usable rows - check property ID, access grant (aarav@braind.io as Viewer) and date range');\n}\nconst rowsIn = rows.length;\nconst meta = { rows_in: rowsIn, issues: issues, issue_pct: rowsIn ? Number(((issues / rowsIn) * 100).toFixed(2)) : 0 };\nreturn out.map((json) => ({ json: Object.assign({}, json, { _meta: meta }) }));"
        },
        "id": "1e9287aa-66a1-4fb3-916c-41d739287003",
        "name": "Build Web Rows",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          224
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO fact_web_daily\n  (activity_date, region_id, hostname, sessions, key_events, engaged_sessions, source)\nVALUES (\n  $1,\n  (SELECT region_id FROM dim_region WHERE region_code = $2),\n  $3, $4, $5, $6, $7)\nON CONFLICT ON CONSTRAINT uq_fact_web_grain DO UPDATE SET\n  sessions = EXCLUDED.sessions,\n  key_events = EXCLUDED.key_events,\n  engaged_sessions = EXCLUDED.engaged_sessions,\n  loaded_at = now();",
          "options": {
            "queryBatching": "independently",
            "queryReplacement": "={{ [$json.activity_date, $json.region_code, $json.hostname, $json.sessions, $json.key_events, $json.engaged_sessions, $json.source] }}"
          }
        },
        "id": "76ba90e7-f2f2-4ee3-909c-4db971fe8053",
        "name": "Upsert fact_web_daily",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          624,
          224
        ],
        "credentials": {
          "postgres": {
            "id": "ch1cQkzV21w5Wpxf",
            "name": "CWSI"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO data_quality_log (source, run_date, rows_in, rows_written, issues, issue_pct)\nVALUES ('ga4', CURRENT_DATE, $1, $2, $3, $4);",
          "options": {
            "queryBatching": "single",
            "queryReplacement": "={{ $(\"Build Web Rows\").first().json._meta.rows_in }},{{ $(\"Build Web Rows\").all().length }},{{ $(\"Build Web Rows\").first().json._meta.issues }},{{ $(\"Build Web Rows\").first().json._meta.issue_pct }}"
          }
        },
        "id": "407063b1-314b-44e4-9186-baa11e59845b",
        "name": "Write data_quality_log",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          832,
          224
        ],
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "ch1cQkzV21w5Wpxf",
            "name": "CWSI"
          }
        }
      }
    ],
    "connections": {
      "Daily 05:00": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "GA4: Run Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GA4: Run Report": {
        "main": [
          [
            {
              "node": "Build Web Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Web Rows": {
        "main": [
          [
            {
              "node": "Upsert fact_web_daily",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert fact_web_daily": {
        "main": [
          [
            {
              "node": "Write data_quality_log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "a95cb778eae0663b4dfe0798e4303eb96d7283a0fa7c7bd7d64566afea813e43"
    }
  }