workflows/gotowebinar_ingest.json
{
  "name": "CWSI - GoToWebinar Ingestion (T-3)",
  "nodes": [
    {
      "parameters": {
        "content": "## GoToWebinar -> fact_event_daily\n\nAttendance (+ registrant count) that Salesforce lacks, NOW with SF webinar campaign_key attached. Native GoToWebinar node for the webinar list; Registrants + Attendees via http; counts aggregated by pairedItem (robust to n8n splitting the array response).\n\nSF MATCH (20 Jun): 'SF: Get Webinar Campaigns' (executeOnce) fetches Type='Webinar' 2026 campaigns; 'Build Event Rows' matches each GTW webinar -> campaign_key via name-date (dd.mm.yyyy in Campaign.Name == GTW date), else title-overlap + GTW date in [StartDate,EndDate]. NOT Campaign.StartDate (0/4 match). Dry-runs never match (campaign_key null). Reproduces 4/4 on live data.\n\nAFTER IMPORT:\n1. Select your 'GoToWebinar OAuth2 API' credential on 'Get Webinars' (native), 'Get Registrants' and 'Get Attendees' (http).\n2. SF cred preset on 'SF: Get Webinar Campaigns' (Salesforce account 2).\n3. Select your Supabase Postgres credential on both DB nodes (the id in the file is from another instance).\n4. (Optional) Config -> from_date (default 2026-01-01) = start of the GTW fetch window; toTime is now. Covers all 2026 webinars. (Was lookback_days=90, which dropped the Feb webinars.)\n5. Run once; check fact_event_daily (campaign_key now populated) / v_event_daily / data_quality_log.\n\nRegion: webinar SUBJECT first, then TIMEZONE (Europe/London->UKI, Brussels/Luxembourg->BeLux, Amsterdam->NL), else UNASSIGNED.\nGrain: webinarKey x start-date (uq_event_grain).",
        "height": 470,
        "width": 560
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        -150
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000002",
      "name": "Daily 05:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -360,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2",
              "name": "from_date",
              "value": "2026-01-01",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        360
      ]
    },
    {
      "parameters": {
        "resource": "webinar",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {
          "times": {
            "timesProperties": {
              "fromTime": "={{ new Date($('Config').first().json.from_date + 'T00:00:00Z').toISOString() }}",
              "toTime": "={{ new Date().toISOString() }}"
            }
          }
        }
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000004",
      "name": "Get Webinars",
      "type": "n8n-nodes-base.goToWebinar",
      "typeVersion": 1,
      "position": [
        280,
        360
      ],
      "executeOnce": true,
      "notes": "Select your predefined GoToWebinar OAuth2 API credential. executeOnce: fed 4 SF campaign items but must run the getAll once."
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Name, Type, Status, StartDate, EndDate FROM Campaign WHERE Type = 'Webinar' AND StartDate >= 2026-01-01 ORDER BY StartDate"
      },
      "id": "a1b2c3d4-0000-0000-0000-00000000000c",
      "name": "SF: Get Webinar Campaigns",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        60,
        360
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      },
      "notes": "SF webinar campaigns — matched to GTW webinars in 'Build Event Rows' to set campaign_key."
    },
    {
      "parameters": {
        "jsCode": "// Native 'Webinar: Get All' returns ONE item per webinar.\n// Pull webinarKey + organizerKey (so attendees/registrants need no manual key) + subject/date/region.\nfunction regionFromText(t) {\n  const s = String(t || '').toLowerCase();\n  if (/\\b(uk|u\\.k\\.|united kingdom|england|scotland|wales|ireland|irish|dublin)\\b/.test(s)) return 'UKI';\n  if (/\\b(belgium|benelux|luxembourg|brussels)\\b/.test(s)) return 'BeLux';\n  if (/\\b(netherlands|dutch|holland|amsterdam)\\b/.test(s)) return 'NL';\n  return null;\n}\nfunction regionFromTZ(tz) {\n  const s = String(tz || '').toLowerCase();\n  if (s.includes('london') || s.includes('dublin')) return 'UKI';\n  if (s.includes('brussels') || s.includes('luxembourg')) return 'BeLux';\n  if (s.includes('amsterdam')) return 'NL';\n  return null;\n}\nreturn $input.all().map((it) => {\n  const w = it.json;\n  const start = (w.times && w.times[0] && w.times[0].startTime) || w.startTime || null;\n  const region = regionFromText(w.subject) || regionFromTZ(w.timeZone) || 'UNASSIGNED';\n  return { json: {\n    event_key: String(w.webinarKey || w.id || ''),\n    organizer_key: String(w.organizerKey || ''),\n    event_name: w.subject || w.name || null,\n    activity_date: start ? String(start).slice(0, 10) : null,\n    region_code: region,\n    campaign_key: null\n  }};\n}).filter((i) => i.json.event_key && i.json.activity_date);"
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000005",
      "name": "Flatten Webinars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.getgo.com/G2W/rest/v2/organizers/{{ $json.organizer_key }}/webinars/{{ $json.event_key }}/registrants",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "goToWebinarOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000006",
      "name": "Get Registrants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        360
      ],
      "notes": "Select your predefined GoToWebinar OAuth2 API credential."
    },
    {
      "parameters": {
        "jsCode": "// Count registrants per webinar. /registrants returns a bare array which n8n SPLITS into\n// one item per registrant — and on split n8n's pairedItem becomes a GLOBAL index, not the\n// webinar index, which collapsed every webinar to 1. So we key each registrant to its webinar\n// via the webinarKey embedded in joinUrl (/join/<webinarKey>/...), independent of pairedItem.\n// Dedup by email (clean string; registrantKey arrives as a precision-damaged number).\nconst base = $('Flatten Webinars').all();\nconst byKey = {};\nfor (const w of base) byKey[w.json.event_key] = new Set();\nfor (const it of $input.all()) {\n  const b = it.json || {};\n  const rows = Array.isArray(b) ? b\n    : Array.isArray(b.registrants) ? b.registrants\n    : (b.registrantKey || b.email || b.joinUrl) ? [b] : [];\n  for (const r of rows) {\n    const m = String(r.joinUrl || '').match(/\\/join\\/(\\d+)/);\n    const ek = m ? m[1] : null;\n    const id = r.email || r.registrantKey;\n    if (ek && byKey[ek] && id != null) byKey[ek].add(id);\n  }\n}\nreturn base.map((w) => ({ json: { ...w.json, registrants: byKey[w.json.event_key] ? byKey[w.json.event_key].size : 0 } }));"
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000007",
      "name": "Add Registrants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.getgo.com/G2W/rest/v2/organizers/{{ $json.organizer_key }}/webinars/{{ $json.event_key }}/attendees",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "goToWebinarOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000008",
      "name": "Get Attendees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        360
      ],
      "notes": "Select your predefined GoToWebinar OAuth2 API credential."
    },
    {
      "parameters": {
        "jsCode": "// Attendee counts from Get Attendees (paginated HAL: _embedded.attendeeParticipationResponses\n// + page.totalElements) joined onto the webinar base (carries registrants). count =\n// max(totalElements, distinct keys) -> pagination-proof. Then attach SF campaign_key\n// (name-date / title+window; dry-runs excluded) and DROP dry-runs from the output.\nconst base = $('Add Registrants').all();\nconst acc = base.map(() => ({ keys: new Set(), total: 0 }));\nfor (const it of $input.all()) {\n  let idx = 0;\n  const pi = it.pairedItem;\n  if (typeof pi === 'number') idx = pi;\n  else if (pi && typeof pi.item === 'number') idx = pi.item;\n  else if (Array.isArray(pi) && pi[0] && typeof pi[0].item === 'number') idx = pi[0].item;\n  const b = it.json || {};\n  if (b.page && typeof b.page.totalElements === 'number' && acc[idx]) acc[idx].total = Math.max(acc[idx].total, b.page.totalElements);\n  const list = Array.isArray(b) ? b\n    : Array.isArray(b.attendees) ? b.attendees\n    : (b._embedded && Array.isArray(b._embedded.attendeeParticipationResponses)) ? b._embedded.attendeeParticipationResponses\n    : (b._embedded && Array.isArray(b._embedded.attendees)) ? b._embedded.attendees\n    : (b.registrantKey || b.attendeeKey || b.email) ? [b] : [];\n  for (const a of list) { const k = a.registrantKey || a.attendeeKey || a.email; if (k && acc[idx]) acc[idx].keys.add(k); }\n}\nconst attBy = {};\nbase.forEach((w, i) => { attBy[w.json.event_key] = Math.max(acc[i].total, acc[i].keys.size); });\n\n// --- SF webinar-campaign matcher (mirrors gotowebinar_sf_match.json) ---\nconst sf = $('SF: Get Webinar Campaigns').all().map((i) => i.json);\nfunction nameDate(name) { const m = String(name || '').match(/(\\d{1,2})[.\\/-](\\d{1,2})[.\\/-](\\d{4})/); return m ? `${m[3]}-${m[2].padStart(2, '0')}-${m[1].padStart(2, '0')}` : null; }\nfunction toks(s) { return new Set(String(s || '').toLowerCase().replace(/[^a-z0-9 ]/g, ' ').split(/\\s+/).filter((x) => x.length > 3)); }\nfunction overlap(a, b) { const A = toks(a), B = toks(b); if (!A.size || !B.size) return 0; let n = 0; for (const t of A) if (B.has(t)) n++; return n / Math.min(A.size, B.size); }\nconst DRY = /\\b(dry[\\s-]?run|run[\\s-]?through|rehearsal|\\btest\\b)\\b/i;\nconst campaigns = sf.map((c) => ({ campaign_key: c.Id, name: c.Name, name_date: nameDate(c.Name), start: c.StartDate || null, end: c.EndDate || null }));\nconst usedCampaign = new Set();\nfunction matchCampaign(subject, gtwDate) {\n  if (!subject || DRY.test(subject) || !gtwDate) return null;\n  let cands = campaigns.filter((c) => c.name_date === gtwDate && !usedCampaign.has(c.campaign_key));\n  if (cands.length === 1) return cands[0];\n  if (cands.length > 1) return cands.slice().sort((a, b) => overlap(b.name, subject) - overlap(a.name, subject))[0];\n  const inWin = campaigns.filter((c) => !usedCampaign.has(c.campaign_key) && c.start && c.end && gtwDate >= c.start && gtwDate <= c.end);\n  const ranked = inWin.map((c) => ({ c, score: overlap(c.name, subject) })).sort((a, b) => b.score - a.score);\n  return (ranked.length && ranked[0].score >= 0.34) ? ranked[0].c : null;\n}\n\nreturn base.filter((w) => !DRY.test(w.json.event_name || '')).map((w) => {\n  const j = w.json;\n  const m = matchCampaign(j.event_name, j.activity_date);\n  if (m) usedCampaign.add(m.campaign_key);\n  return { json: {\n    event_key: j.event_key,\n    event_name: j.event_name,\n    activity_date: j.activity_date,\n    region_code: j.region_code,\n    campaign_key: m ? m.campaign_key : null,\n    registrants: j.registrants,\n    attendees: attBy[j.event_key] || 0,\n    source: 'gotowebinar'\n  }};\n});"
      },
      "id": "a1b2c3d4-0000-0000-0000-000000000009",
      "name": "Build Event Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_event_daily\n  (event_key, event_name, activity_date, region_id, campaign_key, registrants, attendees, source)\nVALUES (\n  $1, $2, $3,\n  (SELECT region_id FROM dim_region WHERE region_code = $4),\n  $5, $6, $7, $8)\nON CONFLICT ON CONSTRAINT uq_event_grain DO UPDATE SET\n  event_name = EXCLUDED.event_name,\n  region_id = EXCLUDED.region_id,\n  campaign_key = COALESCE(EXCLUDED.campaign_key, fact_event_daily.campaign_key),\n  registrants = EXCLUDED.registrants,\n  attendees = EXCLUDED.attendees,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.event_key, $json.event_name, $json.activity_date, $json.region_code, $json.campaign_key, $json.registrants, $json.attendees, $json.source] }}"
        }
      },
      "id": "a1b2c3d4-0000-0000-0000-00000000000a",
      "name": "Upsert fact_event_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1380,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_quality_log (source, run_date, rows_in, rows_written, issues, issue_pct)\nVALUES ('gotowebinar', CURRENT_DATE, $1, $2, 0, 0);",
        "options": {
          "queryBatching": "single",
          "queryReplacement": "={{ [$('Flatten Webinars').all().length, $('Build Event Rows').all().length] }}"
        }
      },
      "id": "a1b2c3d4-0000-0000-0000-00000000000b",
      "name": "Write data_quality_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        360
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    }
  ],
  "connections": {
    "Daily 05:30": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "SF: Get Webinar Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Webinar Campaigns": {
      "main": [
        [
          {
            "node": "Get Webinars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Webinars": {
      "main": [
        [
          {
            "node": "Flatten Webinars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Webinars": {
      "main": [
        [
          {
            "node": "Get Registrants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Registrants": {
      "main": [
        [
          {
            "node": "Add Registrants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Registrants": {
      "main": [
        [
          {
            "node": "Get Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attendees": {
      "main": [
        [
          {
            "node": "Build Event Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_event_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert fact_event_daily": {
      "main": [
        [
          {
            "node": "Write data_quality_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}