workflows/salesforce_ingestion.json
{
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO data_quality_log (source, run_date, rows_in, rows_written, issues, issue_pct)\nVALUES ('salesforce', CURRENT_DATE, $1, $2, 0, 0);",
          "options": {
            "queryBatching": "single",
            "queryReplacement": "={{ $(\"SF: Get Opportunities\").all().length }},{{ $(\"Build Fact Rows\").all().length }}"
          }
        },
        "id": "a8605522-4c31-4153-b5e3-1dcb0c147263",
        "name": "Write data_quality_log",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2016,
          816
        ],
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "ch1cQkzV21w5Wpxf",
            "name": "CWSI"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO fact_channel_daily\n  (campaign_key, region_id, channel_id, pillar_id, activity_date, source,\n   spend, impressions, leads, mql_count, sql_count, pipeline_value, closed_won_value)\nVALUES (\n  $1,\n  (SELECT region_id FROM dim_region WHERE region_code = $2),\n  (SELECT channel_id FROM dim_channel WHERE channel_name = $3),\n  NULL,\n  $4, $5, $6, $7, $8, $9, $10, $11, $12)\nON CONFLICT ON CONSTRAINT uq_fact_grain DO UPDATE SET\n  spend = EXCLUDED.spend,\n  impressions = EXCLUDED.impressions,\n  leads = EXCLUDED.leads,\n  mql_count = EXCLUDED.mql_count,\n  sql_count = EXCLUDED.sql_count,\n  pipeline_value = EXCLUDED.pipeline_value,\n  closed_won_value = EXCLUDED.closed_won_value,\n  loaded_at = now();",
          "options": {
            "queryBatching": "independently",
            "queryReplacement": "={{ $json.campaign_key }},{{ $json.region_code }},{{ $json.channel_name }},{{ $json.activity_date }},{{ $json.source }},{{ $json.spend }},{{ $json.impressions }},{{ $json.leads }},{{ $json.mql_count }},{{ $json.sql_count }},{{ $json.pipeline_value }},{{ $json.closed_won_value }}"
          }
        },
        "id": "cb0d6dc0-05b4-418f-9019-1c66e6335cf7",
        "name": "Upsert fact_channel_daily",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1776,
          816
        ],
        "credentials": {
          "postgres": {
            "id": "ch1cQkzV21w5Wpxf",
            "name": "CWSI"
          }
        }
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {
            "fileName": "cwsi_salesforce_facts.xlsx",
            "sheetName": "Facts"
          }
        },
        "id": "cccd5f18-ad77-4ee4-98ea-c96f20b2a506",
        "name": "Write Facts to Spreadsheet",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1776,
          1056
        ]
      },
      {
        "parameters": {
          "jsCode": "// Aggregate Salesforce sources into fact_channel_daily rows\n// at campaign + region + date grain. Mappings confirmed from CWSI SF (11 Jun).\nconst campaigns = $('SF: Get Campaigns').all().map((i) => i.json);\nconst opps = $('SF: Get Opportunities').all().map((i) => i.json);\nconst leads = $('SF: Get Leads').all().map((i) => i.json);\nconst members = $('SF: Get CampaignMembers').all().map((i) => i.json);\n\n// REGION: Account.BillingCountry (opps) / Lead.Country (leads) -> dashboard region\nfunction regionFromCountry(country) {\n  const c = String(country || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','be','luxembourg','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\n\nconst CHANNEL_BY_TYPE = {\n  'Event': 'Events & Webinars',\n  'Webinar': 'Events & Webinars',\n  'Seminar / Conference': 'Events & Webinars',\n  'Email': 'Email',\n  'Inbound Web': 'Organic SEO',\n  'Content/White Paper': 'Organic SEO',\n  // TODO(confirm w/ Margot): paid social vs paid search vs organic social\n  'Advertisement': 'LinkedIn Paid',\n  'Banner Ads': 'LinkedIn Paid',\n  'Social Media': 'LinkedIn Paid'\n};\n// Fallback for Telemarketing / Partners / Referral / Other / blank (no dashboard channel)\nfunction channelForType(type) { return CHANNEL_BY_TYPE[type] || 'Organic SEO'; }\n\nconst MQL_STATUS = 'Marketing Qualified Lead';\nconst UNQUALIFIED = ['Unqualified opp']; // 5% stage = not a real SQL\n\nconst campaignTypeById = {};\nfor (const c of campaigns) campaignTypeById[c.Id] = c.Type;\n\nconst leadById = {};\nfor (const l of leads) leadById[l.Id] = { status: l.Status, country: l.Country };\n\nconst agg = {};\nfunction rowFor(campaignKey, region, date) {\n  const key = campaignKey + '|' + region + '|' + date;\n  if (!agg[key]) {\n    agg[key] = {\n      campaign_key: campaignKey, region_code: region,\n      channel_name: channelForType(campaignTypeById[campaignKey]),\n      pillar_name: '', // TODO: pillar not derivable from Campaign.Type; needs name parse or custom field\n      activity_date: date, source: 'salesforce',\n      spend: 0, impressions: 0, leads: 0, mql_count: 0,\n      sql_count: 0, pipeline_value: 0, closed_won_value: 0\n    };\n  }\n  return agg[key];\n}\n\n// LEADS + MQL  <- CampaignMember (campaign attribution) joined to Lead\nfor (const m of members) {\n  if (!m.CampaignId || !m.LeadId) continue;\n  const date = String(m.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const lead = leadById[m.LeadId] || {};\n  const r = rowFor(m.CampaignId, regionFromCountry(lead.country), date);\n  r.leads += 1;\n  if (lead.status === MQL_STATUS) r.mql_count += 1;\n}\n\n// SQL + PIPELINE + CLOSED-WON  <- Opportunities\nfor (const o of opps) {\n  if (!o.CampaignId) continue;\n  // closed opps dated by CloseDate; open opps by CreatedDate\n  const date = String((o.IsClosed ? o.CloseDate : o.CreatedDate) || o.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const country = o.Account && o.Account.BillingCountry;\n  const r = rowFor(o.CampaignId, regionFromCountry(country), date);\n  const amount = Number(o.Amount) || 0;\n  const qualified = !UNQUALIFIED.includes(o.StageName);\n  if (qualified) r.sql_count += 1;                 // every qualified opp = an SQL\n  if (o.IsWon) r.closed_won_value += amount;        // won revenue\n  else if (qualified && !o.IsClosed) r.pipeline_value += amount; // open qualified pipeline\n}\n\n// spend & impressions are NOT in Salesforce -> stay 0 here (filled by T-3: spend sheet / LinkedIn)\nreturn Object.values(agg).map((json) => ({ json }));"
        },
        "id": "1f68711b-0a13-4391-9337-9353c5c9eb24",
        "name": "Build Fact Rows",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1536,
          816
        ]
      },
      {
        "parameters": {
          "resource": "search",
          "query": "SELECT Id, StageName, IsClosed, IsWon, Amount, CloseDate, CreatedDate, CampaignId, Account.BillingCountry FROM Opportunity WHERE CampaignId != null"
        },
        "id": "4422f936-330c-4df0-9a5c-4dd184803fd1",
        "name": "SF: Get Opportunities",
        "type": "n8n-nodes-base.salesforce",
        "typeVersion": 1,
        "position": [
          1024,
          816
        ],
        "executeOnce": true,
        "credentials": {
          "salesforceOAuth2Api": {
            "id": "gYo3bnVMVQ4AEg16",
            "name": "Salesforce account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO dim_campaign (campaign_key, channel_id, campaign_name, source_system, valid_from, is_current)\nVALUES ($1, (SELECT channel_id FROM dim_channel WHERE channel_name = $2), $3, $4, CURRENT_DATE, true)\nON CONFLICT (campaign_key) WHERE is_current DO UPDATE SET\n  campaign_name = EXCLUDED.campaign_name,\n  channel_id = EXCLUDED.channel_id;",
          "options": {
            "queryBatching": "independently",
            "queryReplacement": "={{ $json.campaign_key }},{{ $json.channel_name }},{{ $json.campaign_name }},{{ $json.source_system }}"
          }
        },
        "id": "19cd7056-1f24-486a-aac0-6d1c8bcc2a0a",
        "name": "Upsert dim_campaign",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1504,
          496
        ],
        "credentials": {
          "postgres": {
            "id": "ch1cQkzV21w5Wpxf",
            "name": "CWSI"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const CHANNEL_BY_TYPE = {\n  'Event': 'Events & Webinars',\n  'Webinar': 'Events & Webinars',\n  'Seminar / Conference': 'Events & Webinars',\n  'Email': 'Email',\n  'Inbound Web': 'Organic SEO',\n  'Content/White Paper': 'Organic SEO',\n  // TODO(confirm w/ Margot): paid social vs paid search vs organic social\n  'Advertisement': 'LinkedIn Paid',\n  'Banner Ads': 'LinkedIn Paid',\n  'Social Media': 'LinkedIn Paid'\n};\n// Fallback for Telemarketing / Partners / Referral / Other / blank (no dashboard channel)\nfunction channelForType(type) { return CHANNEL_BY_TYPE[type] || 'Organic SEO'; }\n\n// Map Salesforce Campaign records to dim_campaign rows.\nreturn $input.all().map((i) => {\n  const c = i.json;\n  return { json: {\n    campaign_key: c.Id,\n    campaign_name: c.Name || null,\n    channel_name: channelForType(c.Type),\n    source_system: 'salesforce'\n  }};\n});"
        },
        "id": "407c37e6-fcb5-485e-8ec7-ad019b325d88",
        "name": "Map Campaigns to dim_campaign",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          496
        ]
      },
      {
        "parameters": {
          "resource": "search",
          "query": "SELECT Id, Name, Type, Status FROM Campaign"
        },
        "id": "929ead12-706f-4895-931e-e59f43a646a7",
        "name": "SF: Get Campaigns",
        "type": "n8n-nodes-base.salesforce",
        "typeVersion": 1,
        "position": [
          1024,
          496
        ],
        "credentials": {
          "salesforceOAuth2Api": {
            "id": "gYo3bnVMVQ4AEg16",
            "name": "Salesforce account 2"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "id": "09e9bd5c-bfae-40be-a205-3fd2a5288285",
        "name": "Every Hour",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          784,
          656
        ]
      },
      {
        "parameters": {
          "resource": "search",
          "query": "SELECT Id, Status, CreatedDate, Country FROM Lead"
        },
        "id": "84fc6b0b-aa81-404e-b79a-9d1525153fec",
        "name": "SF: Get Leads",
        "type": "n8n-nodes-base.salesforce",
        "typeVersion": 1,
        "position": [
          1184,
          816
        ],
        "executeOnce": true,
        "credentials": {
          "salesforceOAuth2Api": {
            "id": "gYo3bnVMVQ4AEg16",
            "name": "Salesforce account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "search",
          "query": "SELECT Id, CampaignId, LeadId, ContactId, Status, CreatedDate FROM CampaignMember WHERE LeadId != null"
        },
        "id": "baaad7b5-a5e7-469f-8636-077420f37131",
        "name": "SF: Get CampaignMembers",
        "type": "n8n-nodes-base.salesforce",
        "typeVersion": 1,
        "position": [
          1344,
          816
        ],
        "executeOnce": true,
        "credentials": {
          "salesforceOAuth2Api": {
            "id": "gYo3bnVMVQ4AEg16",
            "name": "Salesforce account 2"
          }
        }
      }
    ],
    "connections": {
      "Upsert fact_channel_daily": {
        "main": [
          [
            {
              "node": "Write data_quality_log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Fact Rows": {
        "main": [
          [
            {
              "node": "Upsert fact_channel_daily",
              "type": "main",
              "index": 0
            },
            {
              "node": "Write Facts to Spreadsheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SF: Get Opportunities": {
        "main": [
          [
            {
              "node": "SF: Get Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Campaigns to dim_campaign": {
        "main": [
          [
            {
              "node": "Upsert dim_campaign",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SF: Get Campaigns": {
        "main": [
          [
            {
              "node": "Map Campaigns to dim_campaign",
              "type": "main",
              "index": 0
            },
            {
              "node": "SF: Get Opportunities",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every Hour": {
        "main": [
          [
            {
              "node": "SF: Get Campaigns",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SF: Get Leads": {
        "main": [
          [
            {
              "node": "SF: Get CampaignMembers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SF: Get CampaignMembers": {
        "main": [
          [
            {
              "node": "Build Fact Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a95cb778eae0663b4dfe0798e4303eb96d7283a0fa7c7bd7d64566afea813e43"
    }
  }