workflows/salesforce_ingestion.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_quality_log (source, run_date, rows_in, rows_written, issues, issue_pct)\nVALUES ('salesforce', CURRENT_DATE, $1, $2, 0, 0);",
        "options": {
          "queryBatching": "single",
          "queryReplacement": "={{ $(\"SF: Get Opportunities\").all().length }},{{ $(\"Build Fact Rows\").all().length }}"
        }
      },
      "id": "459f9fb7-ac4f-4785-a816-cce95b066ccc",
      "name": "Write data_quality_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_channel_daily\n  (campaign_key, region_id, channel_id, pillar_id, activity_date, source,\n   spend, impressions, leads, mql_count, sql_count, pipeline_value, closed_won_value, margin_value, opp_count, closed_won_count, created_opp_count)\nVALUES (\n  $1,\n  (SELECT region_id FROM dim_region WHERE region_code = $2),\n  (SELECT channel_id FROM dim_channel WHERE channel_name = $3),\n  NULL,\n  $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16)\nON CONFLICT ON CONSTRAINT uq_fact_grain DO UPDATE SET\n  channel_id = EXCLUDED.channel_id,   -- 15 Jun: propagate re-mapped channel (was frozen; channel_id not in uq_fact_grain)\n  spend = EXCLUDED.spend,\n  impressions = EXCLUDED.impressions,\n  leads = EXCLUDED.leads,\n  mql_count = EXCLUDED.mql_count,\n  sql_count = EXCLUDED.sql_count,\n  pipeline_value = EXCLUDED.pipeline_value,\n  closed_won_value = EXCLUDED.closed_won_value,\n  margin_value = EXCLUDED.margin_value,\n  opp_count = EXCLUDED.opp_count,\n  closed_won_count = EXCLUDED.closed_won_count,\n  created_opp_count = EXCLUDED.created_opp_count,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.campaign_key }},{{ $json.region_code }},{{ $json.channel_name }},{{ $json.activity_date }},{{ $json.source }},{{ $json.spend }},{{ $json.impressions }},{{ $json.leads }},{{ $json.mql_count }},{{ $json.sql_count }},{{ $json.pipeline_value }},{{ $json.closed_won_value }},{{ $json.margin_value }},{{ $json.opp_count }},{{ $json.closed_won_count }},{{ $json.created_opp_count }}"
        }
      },
      "id": "c2577b9c-86b8-4923-8ee1-f25f41771c1b",
      "name": "Upsert fact_channel_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FULL-REPLACE GUARD (23 Jun): the SF facts are about to be deleted & re-inserted\n// (full-replace) to kill stale orphan grains -- e.g. an open opp dated by CreatedDate\n// that later closes moves to a CloseDate grain, leaving its old open-pipeline row\n// behind forever under an upsert-only load. Before deleting, abort if the build\n// produced 0 rows (e.g. a Salesforce read returned empty), so we never wipe\n// fact_channel_daily and leave it empty. Passes the rows through unchanged.\nconst rows = $('Build Fact Rows').all();\nif (rows.length === 0) {\n  throw new Error('SF ingest: 0 fact rows built -- aborting before full-replace so fact_channel_daily is never wiped empty.');\n}\nreturn rows;"
      },
      "id": "a1f0e2c3-5555-4aaa-8bbb-000000000012",
      "name": "Guard: rows present",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1016
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Full-replace: clear ALL Salesforce-sourced channel facts, then re-insert the\n-- complete set the build just produced (the SF queries pull full history, no date\n-- filter, so this is complete). Kills stale orphan grains that upsert-only left behind.\nDELETE FROM fact_channel_daily WHERE source = 'salesforce';",
        "options": {}
      },
      "id": "a1f0e2c3-5555-4aaa-8bbb-000000000013",
      "name": "Delete SF channel rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        1016
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Re-emit the built fact rows after the delete (the Postgres delete returns no\n// items), so the insert below has data -- same pattern as the budget-tracker sync.\nreturn $('Build Fact Rows').all();"
      },
      "id": "a1f0e2c3-5555-4aaa-8bbb-000000000014",
      "name": "Reload Fact Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1016
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "cwsi_salesforce_facts.xlsx",
          "sheetName": "Facts"
        }
      },
      "id": "49ad0226-9d25-4d5b-b02c-73714a9c08f9",
      "name": "Write Facts to Spreadsheet",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate Salesforce sources into fact_channel_daily rows at campaign + region + date grain.\n// MQL FIX (15 Jun): include CONVERTED leads. On lead conversion Salesforce rewrites the\n// CampaignMember to carry ContactId (LeadId becomes null), so the old `WHERE LeadId != null`\n// filter dropped ~574 of 580 MQLs. We now resolve members via LeadId OR ConvertedContactId.\nconst campaigns = $('SF: Get Campaigns').all().map((i) => i.json);\nconst opps = $('SF: Get Opportunities').all().map((i) => i.json);\nconst leads = $('SF: Get Leads').all().map((i) => i.json);\nconst members = $('SF: Get CampaignMembers').all().map((i) => i.json);\n\n// CURRENCY -> EUR (multi-currency org). Convert every amount from its record currency to EUR\n// using the org's CurrencyType rates, per-opp BEFORE aggregation. record->corporate = amount /\n// rate[iso]; corporate->EUR = x rate['EUR']. Unknown currency -> left as-is. Static (non-dated) rates.\nconst _rates = {};\nfor (const c of $('SF: Get Currency Rates').all().map((i) => i.json)) { _rates[c.IsoCode] = Number(c.ConversionRate); }\nconst _eurRate = _rates['EUR'] || 1;\nfunction toEur(amount, iso) { const a = Number(amount) || 0; const r = _rates[iso]; return (r && isFinite(r)) ? a / r * _eurRate : a; }\n\n// REGION (15 Jun): resolve off SF Lead.Lead_Region__c (leads) / Opportunity.Account.Region__c (opps),\n// fallback to Country/BillingCountry. Real region fields are ~86-99% populated vs dirty Country.\nfunction regionFromField(v) {\n  const c = String(v || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','england','scotland','wales','northern ireland','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','bel','be','luxembourg','lux','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\n\nconst CHANNEL_BY_TYPE = {\n  'Event': 'Events & Webinars',\n  'Webinar': 'Events & Webinars',\n  'Seminar / Conference': 'Events & Webinars',\n  'Email': 'Email',\n  'Inbound Web': 'Organic SEO',\n  'Content/White Paper': 'Organic SEO',\n  // TODO(confirm w/ Margot): paid social vs paid search vs organic social\n  'Advertisement': 'LinkedIn Paid',\n  'Banner Ads': 'LinkedIn Paid',\n  'Social Media': 'LinkedIn Paid',\n  // 15 Jun (user-approved): non-marketing-channel / unmapped SF Campaign.Type\n  // values route to an explicit 'Other / Unmapped' bucket, NOT Organic SEO.\n  'Other': 'Other / Unmapped',\n  'Telemarketing': 'Other / Unmapped',\n  'Partners': 'Other / Unmapped',\n  'Referral Program': 'Other / Unmapped'\n};\n// CHANNEL FIX (15 Jun): all 14 SF Campaign.Type values mapped; unmapped/non-channel -> 'Other / Unmapped' (never Organic SEO). Paid Search has no SF type (no Google Ads campaigns).\nfunction channelForType(type) { return CHANNEL_BY_TYPE[type] || 'Other / Unmapped'; }\n\n// MQL = reached the 'Marketing Qualified Lead' status OR beyond (Margot, Jul 2026 — replaces the\n// earlier 'not pre-MQL' exclusion guess). SF has no MQL-date field and Lead.Status is a snapshot, so a\n// lead that advanced past MQL keeps a later status — hence 'or beyond'. Statuses at/after MQL on the\n// CWSI ladder (per Phase-0 Q2): Marketing Qualified Lead, Meeting Booked, Trial. Converted/qualified\n// leads that carry a downstream status are additionally floored up in the app (MQL >= SQL). If CWSI\n// adds new post-MQL statuses, list them here.\nconst MQL_OR_BEYOND = new Set(['Marketing Qualified Lead','Meeting Booked','Trial']);\nfunction isMql(status) { return MQL_OR_BEYOND.has(status); }\nconst UNQUALIFIED = ['Unqualified opp']; // 5% stage = not a real SQL\n\nconst campaignTypeById = {};\nfor (const c of campaigns) campaignTypeById[c.Id] = c.Type;\n\n// Lead lookup by Lead.Id AND by ConvertedContactId so converted leads stay attributed.\nconst leadById = {};\nconst leadByContactId = {};\nfor (const l of leads) {\n  const v = { status: l.Status, region: l.Lead_Region__c || l.Country };\n  leadById[l.Id] = v;\n  if (l.ConvertedContactId) leadByContactId[l.ConvertedContactId] = v;\n}\n\nconst agg = {};\nfunction rowFor(campaignKey, region, date) {\n  const key = campaignKey + '|' + region + '|' + date;\n  if (!agg[key]) {\n    agg[key] = {\n      campaign_key: campaignKey, region_code: region,\n      channel_name: channelForType(campaignTypeById[campaignKey]),\n      pillar_name: '', // TODO: pillar not derivable from Campaign.Type; needs name parse or custom field\n      activity_date: date, source: 'salesforce',\n      spend: 0, impressions: 0, leads: 0, mql_count: 0,\n      sql_count: 0, pipeline_value: 0, closed_won_value: 0, margin_value: 0, margin_covered: 0, opp_count: 0, closed_won_count: 0, created_opp_count: 0\n    };\n  }\n  return agg[key];\n}\n\n// LEADS + MQL <- CampaignMember joined to Lead (incl. converted leads via ContactId)\nfor (const m of members) {\n  if (!m.CampaignId) continue;\n  const date = String(m.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const lead = (m.LeadId && leadById[m.LeadId]) || (m.ContactId && leadByContactId[m.ContactId]);\n  if (!lead) continue; // membership for a pure contact (never a lead) -> not a marketing lead\n  const r = rowFor(m.CampaignId, regionFromField(lead.region), date);\n  r.leads += 1;\n  if (isMql(lead.status)) r.mql_count += 1;\n}\n\n// SQL + PIPELINE + CLOSED-WON <- Opportunities\nfor (const o of opps) {\n  if (!o.CampaignId) continue;\n  // closed opps dated by CloseDate; open opps by CreatedDate\n  const date = String((o.IsClosed ? o.CloseDate : o.CreatedDate) || o.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const region = o.Account && (o.Account.Region__c || o.Account.BillingCountry);\n  const r = rowFor(o.CampaignId, regionFromField(region), date);\n  // CREATED OPPORTUNITIES (X3): every opp created in the period, marketing-attributed,\n  // regardless of stage/qualification, dated by CreatedDate (its own row if the opp later\n  // closed on a different date). Distinct from opp_count (qualified, open/won) and sql_count.\n  const createdDate = String(o.CreatedDate || '').slice(0, 10);\n  if (createdDate) rowFor(o.CampaignId, regionFromField(region), createdDate).created_opp_count += 1;\n  if (!UNQUALIFIED.includes(o.StageName) && (o.IsWon || !o.IsClosed)) r.opp_count += 1; // Opportunities = qualified & (open OR won); excludes unqualified + closed-lost -> subset of SQL\n  const amount = toEur(o.Amount, o.CurrencyIsoCode); // EUR\n  const qualified = !UNQUALIFIED.includes(o.StageName);\n  if (qualified) r.sql_count += 1;                 // every qualified opp = an SQL\n  if (o.IsWon) {\n    r.closed_won_value += amount; r.closed_won_count += 1;\n    // MARGIN (GP): use Gross Profit in EUR. Prefer Gross_Profit_Value__c (profit amount); else\n    // Amount x Gross_Profit_Margin__c. Blank both -> incomplete (NULL, never full revenue).\n    const _gpv = o.Gross_Profit_Value__c;\n    const _gpm = o.Gross_Profit_Margin__c;\n    const _hasGpv = _gpv !== null && _gpv !== undefined && _gpv !== '' && !Number.isNaN(Number(_gpv));\n    const _hasGpm = _gpm !== null && _gpm !== undefined && _gpm !== '' && !Number.isNaN(Number(_gpm));\n    if (_hasGpv) { r.margin_value += toEur(_gpv, o.CurrencyIsoCode); r.margin_covered += 1; }\n    else if (_hasGpm) { const _p = Number(_gpm); r.margin_value += amount * (_p > 1 ? _p / 100 : _p); r.margin_covered += 1; }\n    // else: this won opp has no gross profit in SF -> it contributes 0 to margin but does NOT void the row (other opps' GP is still used).\n  }\n  else if (qualified && !o.IsClosed) r.pipeline_value += amount; // open qualified pipeline\n}\n\n// spend & impressions are NOT in Salesforce -> stay 0 here (filled by T-3: spend sheet / LinkedIn)\n// Use whatever gross profit Salesforce holds (Gross_Profit_Value__c else Amount x Gross_Profit_Margin__c),\n// summed per won opp. A won opp with no GP contributes 0; the row's margin is NULL only if NO won opp in it\n// carried GP (so partial coverage is kept, not discarded). Zero-cost/100%-margin deals are faithful to SF -> flag to CWSI.\nreturn Object.values(agg).map(({ margin_covered, ...json }) => ({ json: { ...json, margin_value: (json.closed_won_count > 0 && margin_covered === 0) ? null : json.margin_value } }));"
      },
      "id": "6cda4e07-6a97-4955-b560-91d45d64d11d",
      "name": "Build Fact Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        896
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, StageName, IsClosed, IsWon, Amount, CurrencyIsoCode, Gross_Profit_Value__c, Gross_Profit_Margin__c, CloseDate, CreatedDate, CampaignId, Account.BillingCountry, Account.Region__c FROM Opportunity WHERE CampaignId != null"
      },
      "id": "9e3f568a-861b-41c3-90ba-9c82f76ee03c",
      "name": "SF: Get Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        768,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim_campaign (campaign_key, channel_id, campaign_name, campaign_type, source_system, start_date, parent_id, parent_name, valid_from, is_current)\nVALUES ($1, (SELECT channel_id FROM dim_channel WHERE channel_name = $2), $3, $4, $5, $6, $7, $8, CURRENT_DATE, true)\nON CONFLICT (campaign_key) WHERE is_current DO UPDATE SET\n  campaign_name = EXCLUDED.campaign_name,\n  campaign_type = EXCLUDED.campaign_type,\n  channel_id = EXCLUDED.channel_id,\n  start_date = EXCLUDED.start_date,\n  parent_id = EXCLUDED.parent_id,\n  parent_name = EXCLUDED.parent_name;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.campaign_key, $json.channel_name, $json.campaign_name, $json.campaign_type, $json.source_system, $json.start_date, $json.parent_id, $json.parent_name] }}"
        }
      },
      "id": "db1031f6-0e0c-4a19-8d13-90191bbe75ca",
      "name": "Upsert dim_campaign",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CHANNEL_BY_TYPE = {\n  'Event': 'Events & Webinars',\n  'Webinar': 'Events & Webinars',\n  'Seminar / Conference': 'Events & Webinars',\n  'Email': 'Email',\n  'Inbound Web': 'Organic SEO',\n  'Content/White Paper': 'Organic SEO',\n  // TODO(confirm w/ Margot): paid social vs paid search vs organic social\n  'Advertisement': 'LinkedIn Paid',\n  'Banner Ads': 'LinkedIn Paid',\n  'Social Media': 'LinkedIn Paid',\n  // 15 Jun (user-approved): non-marketing-channel / unmapped SF Campaign.Type\n  // values route to an explicit 'Other / Unmapped' bucket, NOT Organic SEO.\n  'Other': 'Other / Unmapped',\n  'Telemarketing': 'Other / Unmapped',\n  'Partners': 'Other / Unmapped',\n  'Referral Program': 'Other / Unmapped'\n};\n// CHANNEL FIX (15 Jun): all 14 SF Campaign.Type values mapped; unmapped/non-channel -> 'Other / Unmapped' (never Organic SEO). Paid Search has no SF type (no Google Ads campaigns).\nfunction channelForType(type) { return CHANNEL_BY_TYPE[type] || 'Other / Unmapped'; }\n\n// Map Salesforce Campaign records to dim_campaign rows.\nreturn $input.all().map((i) => {\n  const c = i.json;\n  return { json: {\n    campaign_key: c.Id,\n    campaign_name: c.Name || null,\n    channel_name: channelForType(c.Type),\n    campaign_type: c.Type || null,\n    start_date: c.StartDate || null,\n    parent_id: c.ParentId || null,\n    parent_name: (c.Parent && c.Parent.Name) || null,\n    source_system: 'salesforce'\n  }};\n});"
      },
      "id": "eaa0b168-e1e6-40c2-bfff-d143d5ae3c01",
      "name": "Map Campaigns to dim_campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        576
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Name, Type, Status, NumberSent, StartDate, ParentId, Parent.Name FROM Campaign"
      },
      "id": "0e523f35-88e8-4c7d-8d18-407316e31ab6",
      "name": "SF: Get Campaigns",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        768,
        576
      ],
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "cfb1c6ed-0627-4f8f-9fab-fbc8ccb10635",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        528,
        736
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Status, CreatedDate, Country, Lead_Region__c, IsConverted, ConvertedContactId FROM Lead"
      },
      "id": "5167b61c-dd93-4804-8a9d-7c198a1c6e39",
      "name": "SF: Get Leads",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        928,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, CampaignId, LeadId, ContactId, Status, CreatedDate FROM CampaignMember"
      },
      "id": "b5a2fb0b-4e71-4b3a-b62a-7f2071a66b5c",
      "name": "SF: Get CampaignMembers",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1088,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// B2 (Path A, 20 Jun): Email SENDS snapshot. This SF org has NO Account Engagement\n// (Pardot pi__*) objects and NO ListEmail object, so opens/clicks/delivered cannot\n// be queried -- only Campaign.NumberSent. We write ONE snapshot row per EMAIL-type\n// campaign with emails_sent set and the rest NULL. Region parsed from campaign name\n// (best-effort, like LinkedIn), UNASSIGNED fallback.\nfunction regionFromName(name) {\n  const n = String(name || '').toLowerCase();\n  if (/uk\\/ie|\\b(uki|uk|u\\.k\\.|united kingdom|ireland|ie|irish|gb)\\b/.test(n)) return 'UKI';\n  if (/\\b(belux|belgium|benelux|luxembourg|lux)\\b/.test(n)) return 'BeLux';\n  if (/\\b(nl|netherlands|holland|dutch)\\b/.test(n)) return 'NL';\n  return 'UNASSIGNED';\n}\nconst today = new Date().toISOString().slice(0, 10);\nreturn $input.all()\n  .map((i) => i.json)\n  .filter((c) => c.Type === 'Email') // Email-channel campaigns only (matches the Email page)\n  .map((c) => ({ json: {\n    campaign_key: c.Id,\n    region_code: regionFromName(c.Name),\n    snapshot_date: today,\n    emails_sent: Number(c.NumberSent) || 0,\n    emails_delivered: null,\n    email_opens: null,\n    email_clicks: null\n  }}))\n  // Path A (20 Jun): no Account Engagement (pi__) objects + no ListEmail in this org,\n  // so opens/clicks/delivered are NOT in Salesforce -> NULL (not 0). Keep rows with sends.\n  .filter((r) => r.json.emails_sent > 0);"
      },
      "id": "a1f0e2c3-1111-4aaa-8bbb-000000000001",
      "name": "Map Email Engagement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_email_engagement\n  (campaign_key, region_id, snapshot_date, emails_sent, emails_delivered, email_opens, email_clicks, loaded_at)\nVALUES (\n  $1,\n  (SELECT region_id FROM dim_region WHERE region_code = $2),\n  $3, $4, $5, $6, $7, now())\nON CONFLICT (campaign_key) DO UPDATE SET\n  region_id = EXCLUDED.region_id,\n  snapshot_date = EXCLUDED.snapshot_date,\n  emails_sent = EXCLUDED.emails_sent,\n  emails_delivered = EXCLUDED.emails_delivered,\n  email_opens = EXCLUDED.email_opens,\n  email_clicks = EXCLUDED.email_clicks,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.campaign_key, $json.region_code, $json.snapshot_date, $json.emails_sent, $json.emails_delivered, $json.email_opens, $json.email_clicks] }}"
        }
      },
      "id": "a1f0e2c3-1111-4aaa-8bbb-000000000002",
      "name": "Upsert fact_email_engagement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Type, IsWon, IsClosed, StageName, Amount, CurrencyIsoCode, CloseDate, CreatedDate, Account.Region__c, Account.BillingCountry FROM Opportunity WHERE Type IN ('Renewal','Upsell','Cross-Sell')"
      },
      "id": "a1f0e2c3-2222-4aaa-8bbb-000000000003",
      "name": "SF: Get Renewals",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1280,
        1216
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// B3 (19 Jun): Retention/expansion snapshot. Opportunity.Type in\n// Renewal/Upsell/Cross-Sell. Renewals are account-based, NOT campaign-attributed,\n// so they get their own region+date fact (never fact_channel_daily). Won deals\n// (IsWon) = contracts retained/expanded; open qualified deals = renewal pipeline.\nfunction regionFromField(v) {\n  const c = String(v || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','england','scotland','wales','northern ireland','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','bel','be','luxembourg','lux','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\nconst UNQUALIFIED = ['Unqualified opp'];\nconst TYPES = ['Renewal','Upsell','Cross-Sell'];\nconst opps = $input.all().map((i) => i.json);\n\n// CURRENCY -> EUR (multi-currency org). Convert every amount from its record currency to EUR\n// using the org's CurrencyType rates, per-opp BEFORE aggregation. record->corporate = amount /\n// rate[iso]; corporate->EUR = x rate['EUR']. Unknown currency -> left as-is. Static (non-dated) rates.\nconst _rates = {};\nfor (const c of $('SF: Get Currency Rates').all().map((i) => i.json)) { _rates[c.IsoCode] = Number(c.ConversionRate); }\nconst _eurRate = _rates['EUR'] || 1;\nfunction toEur(amount, iso) { const a = Number(amount) || 0; const r = _rates[iso]; return (r && isFinite(r)) ? a / r * _eurRate : a; }\nconst agg = {};\nfunction rowFor(region, date, type) {\n  const key = region + '|' + date + '|' + type;\n  if (!agg[key]) agg[key] = { region_code: region, activity_date: date, opp_type: type, won_count: 0, won_value: 0, open_count: 0, open_value: 0 };\n  return agg[key];\n}\nfor (const o of opps) {\n  if (!TYPES.includes(o.Type)) continue;\n  const date = String((o.IsClosed ? o.CloseDate : o.CreatedDate) || o.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const region = o.Account && (o.Account.Region__c || o.Account.BillingCountry);\n  const r = rowFor(regionFromField(region), date, o.Type);\n  const amount = toEur(o.Amount, o.CurrencyIsoCode); // EUR\n  if (o.IsWon) { r.won_count += 1; r.won_value += amount; }\n  else if (!o.IsClosed && !UNQUALIFIED.includes(o.StageName)) { r.open_count += 1; r.open_value += amount; }\n}\nreturn Object.values(agg).map((json) => ({ json }));"
      },
      "id": "a1f0e2c3-2222-4aaa-8bbb-000000000004",
      "name": "Build Renewal Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_renewal_daily\n  (region_id, activity_date, opp_type, won_count, won_value, open_count, open_value, loaded_at)\nVALUES (\n  (SELECT region_id FROM dim_region WHERE region_code = $1),\n  $2, $3, $4, $5, $6, $7, now())\nON CONFLICT ON CONSTRAINT uq_renewal_grain DO UPDATE SET\n  won_count = EXCLUDED.won_count,\n  won_value = EXCLUDED.won_value,\n  open_count = EXCLUDED.open_count,\n  open_value = EXCLUDED.open_value,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.region_code, $json.activity_date, $json.opp_type, $json.won_count, $json.won_value, $json.open_count, $json.open_value] }}"
        }
      },
      "id": "a1f0e2c3-2222-4aaa-8bbb-000000000005",
      "name": "Upsert fact_renewal_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Subject, ActivityDate, OwnerId, WhoId, WhatId, TYPEOF Who WHEN Contact THEN Email WHEN Lead THEN Email END, TYPEOF What WHEN Account THEN Region__c, BillingCountry WHEN Opportunity THEN Account.Region__c, Account.BillingCountry END FROM Event WHERE Type = 'Meeting' AND ActivityDate >= 2026-01-01"
      },
      "id": "a1f0e2c3-3333-4aaa-8bbb-000000000006",
      "name": "SF: Get Meetings",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1280,
        1376
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// B7 (20 Jun): Meetings booked from SF Event (Type='Meeting'). Activities, not\n// campaign-attributed, so they get their own region+date fact (fact_meeting_daily),\n// mirroring renewals. Region resolves off the polymorphic What (Account direct /\n// Opportunity->Account via TYPEOF), then the meeting's Who (Lead, reusing the\n// already-fetched Leads) as fallback, else UNASSIGNED. DEDUPE: one meeting may be\n// logged once per internal owner with the same Subject/day/Who/What -> count those\n// as a single meeting (Owner excluded from the key). 'Booked' = ALL sales meetings\n// (Event has no Outreach-source field, so Outreach-only can't be isolated).\nfunction regionFromField(v) {\n  const c = String(v || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','england','scotland','wales','northern ireland','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','bel','be','luxembourg','lux','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\nconst meetings = $('SF: Get Meetings').all().map((i) => i.json);\n// Lead region by Lead Id (reuse the already-fetched Leads) for What-blank meetings.\nconst leadRegionById = {};\nfor (const l of $('SF: Get Leads').all().map((i) => i.json)) leadRegionById[l.Id] = l.Lead_Region__c || l.Country;\nfunction regionForMeeting(m) {\n  const w = m.What; // TYPEOF: Account -> {Region__c,BillingCountry}; Opportunity -> {Account:{...}}\n  if (w) {\n    if (w.Region__c || w.BillingCountry) return regionFromField(w.Region__c || w.BillingCountry);\n    if (w.Account && (w.Account.Region__c || w.Account.BillingCountry)) return regionFromField(w.Account.Region__c || w.Account.BillingCountry);\n  }\n  if (m.WhoId && leadRegionById[m.WhoId]) return regionFromField(leadRegionById[m.WhoId]);\n  return 'UNASSIGNED';\n}\nconst seen = {};\nconst agg = {};\nfor (const m of meetings) {\n  const day = String(m.ActivityDate || '').slice(0, 10);\n  if (!day) continue;\n  const k = [m.Subject || '', day, m.WhoId || '', m.WhatId || ''].join('|');\n  if (seen[k]) continue; // drop per-attendee duplicate of the same meeting\n  seen[k] = true;\n  const region = regionForMeeting(m);\n  const key = region + '|' + day;\n  if (!agg[key]) agg[key] = { region_code: region, activity_date: day, meeting_count: 0 };\n  agg[key].meeting_count += 1;\n}\nreturn Object.values(agg).map((json) => ({ json }));"
      },
      "id": "a1f0e2c3-3333-4aaa-8bbb-000000000007",
      "name": "Build Meeting Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1376
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_meeting_daily (region_id, activity_date, meeting_count, loaded_at)\nVALUES ((SELECT region_id FROM dim_region WHERE region_code = $1), $2, $3, now())\nON CONFLICT ON CONSTRAINT uq_meeting_grain DO UPDATE SET\n  meeting_count = EXCLUDED.meeting_count,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.region_code, $json.activity_date, $json.meeting_count] }}"
        }
      },
      "id": "a1f0e2c3-3333-4aaa-8bbb-000000000008",
      "name": "Upsert fact_meeting_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, StageName, Probability, Amount, CurrencyIsoCode, Account.Region__c, Account.BillingCountry FROM Opportunity WHERE IsClosed = false AND CampaignId != null AND CreatedDate >= 2026-01-01T00:00:00Z"
      },
      "id": "a1f0e2c3-4444-4aaa-8bbb-000000000009",
      "name": "SF: Get Open Opps",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1280,
        1536
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// fact_opportunity_stage (Option 1, 20 Jun): OPEN-pipeline snapshot. Count + sum(Amount)\n// of open opportunities grouped by StageName x region, as of today. Closed deals are\n// excluded here (already covered by the funnel's closed-won). Region via Account.Region__c\n// (fixed hop, fallback BillingCountry), UNASSIGNED otherwise. One snapshot per run\n// (snapshot_date = today); the upsert grain keeps a row per region x date x stage so\n// older snapshots persist (a stepping stone to Option-2 trends later).\nfunction regionFromField(v) {\n  const c = String(v || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','england','scotland','wales','northern ireland','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','bel','be','luxembourg','lux','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\nconst today = new Date().toISOString().slice(0, 10);\nconst opps = $input.all().map((i) => i.json);\n\n// CURRENCY -> EUR (multi-currency org). Convert every amount from its record currency to EUR\n// using the org's CurrencyType rates, per-opp BEFORE aggregation. record->corporate = amount /\n// rate[iso]; corporate->EUR = x rate['EUR']. Unknown currency -> left as-is. Static (non-dated) rates.\nconst _rates = {};\nfor (const c of $('SF: Get Currency Rates').all().map((i) => i.json)) { _rates[c.IsoCode] = Number(c.ConversionRate); }\nconst _eurRate = _rates['EUR'] || 1;\nfunction toEur(amount, iso) { const a = Number(amount) || 0; const r = _rates[iso]; return (r && isFinite(r)) ? a / r * _eurRate : a; }\nconst agg = {};\nfor (const o of opps) {\n  const stage = o.StageName || 'Unknown';\n  const region = regionFromField(o.Account && (o.Account.Region__c || o.Account.BillingCountry));\n  const key = region + '|' + stage;\n  if (!agg[key]) agg[key] = { region_code: region, snapshot_date: today, stage_name: stage, probability: (o.Probability == null ? null : Number(o.Probability)), opp_count: 0, opp_value: 0 };\n  if (o.Probability != null) agg[key].probability = Number(o.Probability); // constant per stage\n  agg[key].opp_count += 1;\n  agg[key].opp_value += toEur(o.Amount, o.CurrencyIsoCode); // EUR\n}\nreturn Object.values(agg).map((json) => ({ json }));"
      },
      "id": "a1f0e2c3-4444-4aaa-8bbb-000000000010",
      "name": "Build Opp Stage Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_opportunity_stage (region_id, snapshot_date, stage_name, probability, opp_count, opp_value, loaded_at)\nVALUES ((SELECT region_id FROM dim_region WHERE region_code = $1), $2, $3, $4, $5, $6, now())\nON CONFLICT ON CONSTRAINT uq_opp_stage_grain DO UPDATE SET\n  probability = EXCLUDED.probability,\n  opp_count = EXCLUDED.opp_count,\n  opp_value = EXCLUDED.opp_value,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.region_code, $json.snapshot_date, $json.stage_name, $json.probability, $json.opp_count, $json.opp_value] }}"
        }
      },
      "id": "a1f0e2c3-4444-4aaa-8bbb-000000000011",
      "name": "Upsert fact_opportunity_stage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        1536
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT IsoCode, ConversionRate, IsCorporate FROM CurrencyType"
      },
      "id": "b7c2d1e0-9f3a-4a1b-8c22-0a1b2c3d4e5f",
      "name": "SF: Get Currency Rates",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        528,
        560
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CC-6: SF meetings at per-CONTACT identity grain -> fact_meeting (carries the contact\n// email so meetings can be joined to Outreach prospects). ADDITIVE: the aggregated\n// fact_meeting_daily branch (Build Meeting Rows) is untouched and keeps running.\n// One row per Event.Id; email lowercased for the join. Region reuses the SAME polymorphic\n// What/Who resolution as Build Meeting Rows so both branches agree.\nfunction regionFromField(v) {\n  const c = String(v || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','england','scotland','wales','northern ireland','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','bel','be','luxembourg','lux','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\nconst meetings = $('SF: Get Meetings').all().map((i) => i.json);\nconst leadRegionById = {};\nfor (const l of $('SF: Get Leads').all().map((i) => i.json)) leadRegionById[l.Id] = l.Lead_Region__c || l.Country;\nfunction regionForMeeting(m) {\n  const w = m.What;\n  if (w) {\n    if (w.Region__c || w.BillingCountry) return regionFromField(w.Region__c || w.BillingCountry);\n    if (w.Account && (w.Account.Region__c || w.Account.BillingCountry)) return regionFromField(w.Account.Region__c || w.Account.BillingCountry);\n  }\n  if (m.WhoId && leadRegionById[m.WhoId]) return regionFromField(leadRegionById[m.WhoId]);\n  return 'UNASSIGNED';\n}\nconst out = [];\nconst seen = {};\nfor (const m of meetings) {\n  if (!m.Id || seen[m.Id]) continue;\n  seen[m.Id] = true;\n  const day = String(m.ActivityDate || '').slice(0, 10) || null;\n  // TYPEOF Who returns the email nested on the Who object for the matched type.\n  const email = (m.Who && m.Who.Email ? String(m.Who.Email) : '').trim().toLowerCase() || null;\n  out.push({ json: {\n    meeting_id: String(m.Id),\n    subject: m.Subject || null,\n    activity_date: day,\n    who_id: m.WhoId || null,\n    contact_email: email,\n    region_code: regionForMeeting(m)\n  }});\n}\nreturn out;"
      },
      "id": "a1f0e2c3-3333-4aaa-8bbb-0000000000c6",
      "name": "Build Meeting Identity Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_meeting (meeting_id, subject, activity_date, who_id, contact_email, region_id, loaded_at)\nVALUES ($1, $2, $3, $4, $5, (SELECT region_id FROM dim_region WHERE region_code = $6), now())\nON CONFLICT (meeting_id) DO UPDATE SET\n  subject = EXCLUDED.subject,\n  activity_date = EXCLUDED.activity_date,\n  who_id = EXCLUDED.who_id,\n  contact_email = EXCLUDED.contact_email,\n  region_id = EXCLUDED.region_id,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.meeting_id, $json.subject, $json.activity_date, $json.who_id, $json.contact_email, $json.region_code] }}"
        }
      },
      "id": "a1f0e2c3-3333-4aaa-8bbb-0000000000c7",
      "name": "Upsert fact_meeting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        1536
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    }
  ],
  "connections": {
    "Upsert fact_channel_daily": {
      "main": [
        [
          {
            "node": "Write data_quality_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fact Rows": {
      "main": [
        [
          {
            "node": "Guard: rows present",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Facts to Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard: rows present": {
      "main": [
        [
          {
            "node": "Delete SF channel rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete SF channel rows": {
      "main": [
        [
          {
            "node": "Reload Fact Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Fact Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_channel_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Opportunities": {
      "main": [
        [
          {
            "node": "SF: Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Campaigns to dim_campaign": {
      "main": [
        [
          {
            "node": "Upsert dim_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Campaigns": {
      "main": [
        [
          {
            "node": "Map Campaigns to dim_campaign",
            "type": "main",
            "index": 0
          },
          {
            "node": "SF: Get Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Map Email Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Email Engagement": {
      "main": [
        [
          {
            "node": "Upsert fact_email_engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Renewals": {
      "main": [
        [
          {
            "node": "Build Renewal Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Meetings": {
      "main": [
        [
          {
            "node": "Build Meeting Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Meeting Identity Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Meeting Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_meeting_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Open Opps": {
      "main": [
        [
          {
            "node": "Build Opp Stage Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Opp Stage Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_opportunity_stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Renewal Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_renewal_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "SF: Get Currency Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Leads": {
      "main": [
        [
          {
            "node": "SF: Get CampaignMembers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get CampaignMembers": {
      "main": [
        [
          {
            "node": "Build Fact Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "SF: Get Renewals",
            "type": "main",
            "index": 0
          },
          {
            "node": "SF: Get Meetings",
            "type": "main",
            "index": 0
          },
          {
            "node": "SF: Get Open Opps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Currency Rates": {
      "main": [
        [
          {
            "node": "SF: Get Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Meeting Identity Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a95cb778eae0663b4dfe0798e4303eb96d7283a0fa7c7bd7d64566afea813e43"
  }
}