workflows/salesforce_ingestion.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_quality_log (source, run_date, rows_in, rows_written, issues, issue_pct)\nVALUES ('salesforce', CURRENT_DATE, $1, $2, 0, 0);",
        "options": {
          "queryBatching": "single",
          "queryReplacement": "={{ $(\"SF: Get Opportunities\").all().length }},{{ $(\"Build Fact Rows\").all().length }}"
        }
      },
      "id": "459f9fb7-ac4f-4785-a816-cce95b066ccc",
      "name": "Write data_quality_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_channel_daily\n  (campaign_key, region_id, channel_id, pillar_id, activity_date, source,\n   spend, impressions, leads, mql_count, sql_count, pipeline_value, closed_won_value, margin_value)\nVALUES (\n  $1,\n  (SELECT region_id FROM dim_region WHERE region_code = $2),\n  (SELECT channel_id FROM dim_channel WHERE channel_name = $3),\n  NULL,\n  $4, $5, $6, $7, $8, $9, $10, $11, $12, $13)\nON CONFLICT ON CONSTRAINT uq_fact_grain DO UPDATE SET\n  channel_id = EXCLUDED.channel_id,   -- 15 Jun: propagate re-mapped channel (was frozen; channel_id not in uq_fact_grain)\n  spend = EXCLUDED.spend,\n  impressions = EXCLUDED.impressions,\n  leads = EXCLUDED.leads,\n  mql_count = EXCLUDED.mql_count,\n  sql_count = EXCLUDED.sql_count,\n  pipeline_value = EXCLUDED.pipeline_value,\n  closed_won_value = EXCLUDED.closed_won_value,\n  margin_value = EXCLUDED.margin_value,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.campaign_key }},{{ $json.region_code }},{{ $json.channel_name }},{{ $json.activity_date }},{{ $json.source }},{{ $json.spend }},{{ $json.impressions }},{{ $json.leads }},{{ $json.mql_count }},{{ $json.sql_count }},{{ $json.pipeline_value }},{{ $json.closed_won_value }},{{ $json.margin_value }}"
        }
      },
      "id": "c2577b9c-86b8-4923-8ee1-f25f41771c1b",
      "name": "Upsert fact_channel_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "cwsi_salesforce_facts.xlsx",
          "sheetName": "Facts"
        }
      },
      "id": "49ad0226-9d25-4d5b-b02c-73714a9c08f9",
      "name": "Write Facts to Spreadsheet",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate Salesforce sources into fact_channel_daily rows at campaign + region + date grain.\n// MQL FIX (15 Jun): include CONVERTED leads. On lead conversion Salesforce rewrites the\n// CampaignMember to carry ContactId (LeadId becomes null), so the old `WHERE LeadId != null`\n// filter dropped ~574 of 580 MQLs. We now resolve members via LeadId OR ConvertedContactId.\nconst campaigns = $('SF: Get Campaigns').all().map((i) => i.json);\nconst opps = $('SF: Get Opportunities').all().map((i) => i.json);\nconst leads = $('SF: Get Leads').all().map((i) => i.json);\nconst members = $('SF: Get CampaignMembers').all().map((i) => i.json);\n\n// REGION (15 Jun): resolve off SF Lead.Lead_Region__c (leads) / Opportunity.Account.Region__c (opps),\n// fallback to Country/BillingCountry. Real region fields are ~86-99% populated vs dirty Country.\nfunction regionFromField(v) {\n  const c = String(v || '').trim().toLowerCase();\n  if (['united kingdom','uk','gb','great britain','england','scotland','wales','northern ireland','ireland','ie','guernsey','jersey','isle of man'].includes(c)) return 'UKI';\n  if (['belgium','bel','be','luxembourg','lux','lu'].includes(c)) return 'BeLux';\n  if (['netherlands','nl','the netherlands','holland'].includes(c)) return 'NL';\n  return 'UNASSIGNED';\n}\n\nconst CHANNEL_BY_TYPE = {\n  'Event': 'Events & Webinars',\n  'Webinar': 'Events & Webinars',\n  'Seminar / Conference': 'Events & Webinars',\n  'Email': 'Email',\n  'Inbound Web': 'Organic SEO',\n  'Content/White Paper': 'Organic SEO',\n  // TODO(confirm w/ Margot): paid social vs paid search vs organic social\n  'Advertisement': 'LinkedIn Paid',\n  'Banner Ads': 'LinkedIn Paid',\n  'Social Media': 'LinkedIn Paid',\n  // 15 Jun (user-approved): non-marketing-channel / unmapped SF Campaign.Type\n  // values route to an explicit 'Other / Unmapped' bucket, NOT Organic SEO.\n  'Other': 'Other / Unmapped',\n  'Telemarketing': 'Other / Unmapped',\n  'Partners': 'Other / Unmapped',\n  'Referral Program': 'Other / Unmapped'\n};\n// CHANNEL FIX (15 Jun): all 14 SF Campaign.Type values mapped; unmapped/non-channel -> 'Other / Unmapped' (never Organic SEO). Paid Search has no SF type (no Google Ads campaigns).\nfunction channelForType(type) { return CHANNEL_BY_TYPE[type] || 'Other / Unmapped'; }\n\n// MQL = 'reached MQL or beyond'. No MQL-date field exists in SF and Lead.Status is a snapshot, so a\n// lead that advanced past MQL would vanish from the count (this caused SQL>MQL). We count any status\n// that is NOT pre-MQL/disqualified. PROPOSED buckets — confirm w/ Margot (changes a board metric).\nconst PRE_MQL = new Set(['New','Not Contacted','Nurture','Wrong Contact','Dead-Disqualified','LinkedIn invite sent','LinkedIn contacted']);\nfunction isMql(status) { return !!status && !PRE_MQL.has(status); }\nconst UNQUALIFIED = ['Unqualified opp']; // 5% stage = not a real SQL\n\nconst campaignTypeById = {};\nfor (const c of campaigns) campaignTypeById[c.Id] = c.Type;\n\n// Lead lookup by Lead.Id AND by ConvertedContactId so converted leads stay attributed.\nconst leadById = {};\nconst leadByContactId = {};\nfor (const l of leads) {\n  const v = { status: l.Status, region: l.Lead_Region__c || l.Country };\n  leadById[l.Id] = v;\n  if (l.ConvertedContactId) leadByContactId[l.ConvertedContactId] = v;\n}\n\nconst agg = {};\nfunction rowFor(campaignKey, region, date) {\n  const key = campaignKey + '|' + region + '|' + date;\n  if (!agg[key]) {\n    agg[key] = {\n      campaign_key: campaignKey, region_code: region,\n      channel_name: channelForType(campaignTypeById[campaignKey]),\n      pillar_name: '', // TODO: pillar not derivable from Campaign.Type; needs name parse or custom field\n      activity_date: date, source: 'salesforce',\n      spend: 0, impressions: 0, leads: 0, mql_count: 0,\n      sql_count: 0, pipeline_value: 0, closed_won_value: 0, margin_value: 0\n    };\n  }\n  return agg[key];\n}\n\n// LEADS + MQL <- CampaignMember joined to Lead (incl. converted leads via ContactId)\nfor (const m of members) {\n  if (!m.CampaignId) continue;\n  const date = String(m.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const lead = (m.LeadId && leadById[m.LeadId]) || (m.ContactId && leadByContactId[m.ContactId]);\n  if (!lead) continue; // membership for a pure contact (never a lead) -> not a marketing lead\n  const r = rowFor(m.CampaignId, regionFromField(lead.region), date);\n  r.leads += 1;\n  if (isMql(lead.status)) r.mql_count += 1;\n}\n\n// SQL + PIPELINE + CLOSED-WON <- Opportunities\nfor (const o of opps) {\n  if (!o.CampaignId) continue;\n  // closed opps dated by CloseDate; open opps by CreatedDate\n  const date = String((o.IsClosed ? o.CloseDate : o.CreatedDate) || o.CreatedDate || '').slice(0, 10);\n  if (!date) continue;\n  const region = o.Account && (o.Account.Region__c || o.Account.BillingCountry);\n  const r = rowFor(o.CampaignId, regionFromField(region), date);\n  const amount = Number(o.Amount) || 0;\n  const qualified = !UNQUALIFIED.includes(o.StageName);\n  if (qualified) r.sql_count += 1;                 // every qualified opp = an SQL\n  if (o.IsWon) { r.closed_won_value += amount; r.margin_value += amount - (Number(o.Vendor_Cost_Price__c) || 0); } // won revenue + influenced margin (amount - vendor cost)\n  else if (qualified && !o.IsClosed) r.pipeline_value += amount; // open qualified pipeline\n}\n\n// spend & impressions are NOT in Salesforce -> stay 0 here (filled by T-3: spend sheet / LinkedIn)\nreturn Object.values(agg).map((json) => ({ json }));"
      },
      "id": "6cda4e07-6a97-4955-b560-91d45d64d11d",
      "name": "Build Fact Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        896
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, StageName, IsClosed, IsWon, Amount, Vendor_Cost_Price__c, CloseDate, CreatedDate, CampaignId, Account.BillingCountry, Account.Region__c FROM Opportunity WHERE CampaignId != null"
      },
      "id": "9e3f568a-861b-41c3-90ba-9c82f76ee03c",
      "name": "SF: Get Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        768,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim_campaign (campaign_key, channel_id, campaign_name, source_system, valid_from, is_current)\nVALUES ($1, (SELECT channel_id FROM dim_channel WHERE channel_name = $2), $3, $4, CURRENT_DATE, true)\nON CONFLICT (campaign_key) WHERE is_current DO UPDATE SET\n  campaign_name = EXCLUDED.campaign_name,\n  channel_id = EXCLUDED.channel_id;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.campaign_key }},{{ $json.channel_name }},{{ $json.campaign_name }},{{ $json.source_system }}"
        }
      },
      "id": "db1031f6-0e0c-4a19-8d13-90191bbe75ca",
      "name": "Upsert dim_campaign",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CHANNEL_BY_TYPE = {\n  'Event': 'Events & Webinars',\n  'Webinar': 'Events & Webinars',\n  'Seminar / Conference': 'Events & Webinars',\n  'Email': 'Email',\n  'Inbound Web': 'Organic SEO',\n  'Content/White Paper': 'Organic SEO',\n  // TODO(confirm w/ Margot): paid social vs paid search vs organic social\n  'Advertisement': 'LinkedIn Paid',\n  'Banner Ads': 'LinkedIn Paid',\n  'Social Media': 'LinkedIn Paid',\n  // 15 Jun (user-approved): non-marketing-channel / unmapped SF Campaign.Type\n  // values route to an explicit 'Other / Unmapped' bucket, NOT Organic SEO.\n  'Other': 'Other / Unmapped',\n  'Telemarketing': 'Other / Unmapped',\n  'Partners': 'Other / Unmapped',\n  'Referral Program': 'Other / Unmapped'\n};\n// CHANNEL FIX (15 Jun): all 14 SF Campaign.Type values mapped; unmapped/non-channel -> 'Other / Unmapped' (never Organic SEO). Paid Search has no SF type (no Google Ads campaigns).\nfunction channelForType(type) { return CHANNEL_BY_TYPE[type] || 'Other / Unmapped'; }\n\n// Map Salesforce Campaign records to dim_campaign rows.\nreturn $input.all().map((i) => {\n  const c = i.json;\n  return { json: {\n    campaign_key: c.Id,\n    campaign_name: c.Name || null,\n    channel_name: channelForType(c.Type),\n    source_system: 'salesforce'\n  }};\n});"
      },
      "id": "eaa0b168-e1e6-40c2-bfff-d143d5ae3c01",
      "name": "Map Campaigns to dim_campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        576
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Name, Type, Status FROM Campaign"
      },
      "id": "0e523f35-88e8-4c7d-8d18-407316e31ab6",
      "name": "SF: Get Campaigns",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        768,
        576
      ],
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "cfb1c6ed-0627-4f8f-9fab-fbc8ccb10635",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        528,
        736
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, Status, CreatedDate, Country, Lead_Region__c, IsConverted, ConvertedContactId FROM Lead"
      },
      "id": "5167b61c-dd93-4804-8a9d-7c198a1c6e39",
      "name": "SF: Get Leads",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        928,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "search",
        "query": "SELECT Id, CampaignId, LeadId, ContactId, Status, CreatedDate FROM CampaignMember"
      },
      "id": "b5a2fb0b-4e71-4b3a-b62a-7f2071a66b5c",
      "name": "SF: Get CampaignMembers",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1088,
        896
      ],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "gYo3bnVMVQ4AEg16",
          "name": "Salesforce account 2"
        }
      }
    }
  ],
  "connections": {
    "Upsert fact_channel_daily": {
      "main": [
        [
          {
            "node": "Write data_quality_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fact Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_channel_daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Facts to Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Opportunities": {
      "main": [
        [
          {
            "node": "SF: Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Campaigns to dim_campaign": {
      "main": [
        [
          {
            "node": "Upsert dim_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Campaigns": {
      "main": [
        [
          {
            "node": "Map Campaigns to dim_campaign",
            "type": "main",
            "index": 0
          },
          {
            "node": "SF: Get Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "SF: Get Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Leads": {
      "main": [
        [
          {
            "node": "SF: Get CampaignMembers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get CampaignMembers": {
      "main": [
        [
          {
            "node": "Build Fact Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a95cb778eae0663b4dfe0798e4303eb96d7283a0fa7c7bd7d64566afea813e43"
  }
}