workflows/search_console_ingest.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## GSC -> fact_seo_daily + fact_seo_page_daily (PAGINATED)\n\nPROPERTY: URL-prefix  https://cwsisecurity.com/  (no www, trailing slash).\nNO domain property exists, so 'sc-domain:...' will 403.\n\nGSC retains ~16 months only. Earliest available ~Feb 2025 - 2024 data is NOT retrievable via the API.\n\nBOTH query nodes paginate on startRow (25k rows/page, stop when a page < 25k, hard cap 80 requests).\n\nDAILY: leave lookback_days = 7.\nONE-TIME BACKFILL: set lookback_days = 490 (~16 months), run manually once, confirm rows, then SET IT BACK TO 7. If you forget, the daily run just re-pulls 16 months each day (idempotent, but heavy).\n\nAFTER IMPORT:\n1. 'Config' gsc_site_url already = https://cwsisecurity.com/ .\n2. Select the Google OAuth2 cred (scope webmasters.readonly) on both GSC HTTP nodes.\n3. GSC lags ~2 days; window ends today-2.",
        "height": 440,
        "width": 480
      },
      "id": "c2a58718-f414-45b1-a266-b8d0ed7a5117",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        32
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "246b9491-9a05-4206-91c9-e67c24fd3a05",
      "name": "Daily 05:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "gsc_site_url",
              "value": "https://cwsisecurity.com/",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "lookback_days",
              "value": 7,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ef4eec44-c351-43b4-999d-f3f5d0e20ec7",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/webmasters/v3/sites/{{ encodeURIComponent($('Config').first().json.gsc_site_url) }}/searchAnalytics/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDate\": \"{{ $now.minus({ days: Number($('Config').first().json.lookback_days) + 2 }).toFormat('yyyy-MM-dd') }}\",\n  \"endDate\": \"{{ $now.minus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n  \"dimensions\": [\"date\", \"country\"],\n  \"rowLimit\": 25000\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "startRow",
                    "value": "={{ $pageCount * 25000 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ ($response.body.rows || []).length < 25000 }}",
              "limitPagesFetched": true,
              "maxRequests": 80,
              "requestInterval": 300
            }
          }
        }
      },
      "id": "e9e9ee92-937b-420e-87e2-3a13278b3381",
      "name": "GSC: Query by Country",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        464
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "aGp39YlpqVwDaBTl",
          "name": "CWSI Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GSC date x country (ALL pages) -> fact_seo_daily rows at date x region grain.\nconst items = $input.all();\nlet rows = [];\nfor (const it of items) { rows = rows.concat((it.json && it.json.rows) || []); }\n\n// GSC country dimension is ISO 3166-1 alpha-3, lowercase\nfunction regionFromAlpha3(cc) {\n  const c = String(cc || '').toLowerCase();\n  if (['gbr', 'irl', 'imn', 'ggy', 'jey'].includes(c)) return 'UKI';\n  if (['bel', 'lux'].includes(c)) return 'BeLux';\n  if (c === 'nld') return 'NL';\n  return 'UNASSIGNED';\n}\n\nconst agg = {};\nlet issues = 0;\nfor (const r of rows) {\n  const keys = r.keys || [];\n  const date = String(keys[0] || '');\n  if (date.length !== 10) { issues++; continue; }\n  const region = regionFromAlpha3(keys[1]);\n  const k = date + '|' + region;\n  if (!agg[k]) {\n    agg[k] = { activity_date: date, region_code: region, clicks: 0, impressions: 0,\n      pos_weight: 0, source: 'gsc' };\n  }\n  const a = agg[k];\n  const impr = Number(r.impressions) || 0;\n  a.clicks += Number(r.clicks) || 0;\n  a.impressions += impr;\n  a.pos_weight += (Number(r.position) || 0) * impr;\n}\n\nconst out = Object.values(agg).map((a) => ({\n  activity_date: a.activity_date,\n  region_code: a.region_code,\n  clicks: a.clicks,\n  impressions: a.impressions,\n  ctr: a.impressions ? Number((a.clicks / a.impressions).toFixed(6)) : 0,\n  avg_position: a.impressions ? Number((a.pos_weight / a.impressions).toFixed(2)) : 0,\n  source: a.source\n}));\nif (out.length === 0) {\n  throw new Error('GSC returned 0 usable rows - check site URL format (sc-domain: vs URL-prefix), access grant and date range');\n}\nconst meta = { rows_in: rows.length, issues: issues, pages: items.length };\nreturn out.map((json) => ({ json: Object.assign({}, json, { _meta: meta }) }));"
      },
      "id": "289f989e-feca-47c7-8423-4b236c5c59b7",
      "name": "Build SEO Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_seo_daily\n  (activity_date, region_id, clicks, impressions, ctr, avg_position, source)\nVALUES (\n  $1,\n  (SELECT region_id FROM dim_region WHERE region_code = $2),\n  $3, $4, $5, $6, $7)\nON CONFLICT ON CONSTRAINT uq_fact_seo_grain DO UPDATE SET\n  clicks = EXCLUDED.clicks,\n  impressions = EXCLUDED.impressions,\n  ctr = EXCLUDED.ctr,\n  avg_position = EXCLUDED.avg_position,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.activity_date, $json.region_code, $json.clicks, $json.impressions, $json.ctr, $json.avg_position, $json.source] }}"
        }
      },
      "id": "8941b682-6770-4807-80c5-7154105df7b9",
      "name": "Upsert fact_seo_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/webmasters/v3/sites/{{ encodeURIComponent($('Config').first().json.gsc_site_url) }}/searchAnalytics/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDate\": \"{{ $now.minus({ days: Number($('Config').first().json.lookback_days) + 2 }).toFormat('yyyy-MM-dd') }}\",\n  \"endDate\": \"{{ $now.minus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n  \"dimensions\": [\"date\", \"page\"],\n  \"rowLimit\": 25000\n}",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "startRow",
                    "value": "={{ $pageCount * 25000 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ ($response.body.rows || []).length < 25000 }}",
              "limitPagesFetched": true,
              "maxRequests": 80,
              "requestInterval": 300
            }
          }
        }
      },
      "id": "36062fff-fe34-48e7-91db-be040aa5658d",
      "name": "GSC: Query Top Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        464
      ],
      "executeOnce": true,
      "credentials": {
        "googleOAuth2Api": {
          "id": "aGp39YlpqVwDaBTl",
          "name": "CWSI Oauth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GSC date x page (ALL pages) -> fact_seo_page_daily rows.\nconst items = $input.all();\nlet rows = [];\nfor (const it of items) { rows = rows.concat((it.json && it.json.rows) || []); }\nconst out = [];\nlet issues = 0;\nfor (const r of rows) {\n  const keys = r.keys || [];\n  const date = String(keys[0] || '');\n  const page = String(keys[1] || '');\n  if (date.length !== 10 || !page) { issues++; continue; }\n  out.push({\n    activity_date: date,\n    page: page,\n    clicks: Number(r.clicks) || 0,\n    impressions: Number(r.impressions) || 0,\n    ctr: Number(r.ctr) || 0,\n    avg_position: Number((Number(r.position) || 0).toFixed(2)),\n    source: 'gsc'\n  });\n}\nif (out.length === 0) {\n  throw new Error('GSC top-pages query returned 0 usable rows - check site URL and access');\n}\nconst meta = { rows_in: rows.length, issues: issues, pages: items.length };\nreturn out.map((json) => ({ json: Object.assign({}, json, { _meta: meta }) }));"
      },
      "id": "28801fcc-945c-4752-8118-780efa405373",
      "name": "Build Page Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_seo_page_daily\n  (activity_date, page, clicks, impressions, ctr, avg_position, source)\nVALUES ($1, $2, $3, $4, $5, $6, $7)\nON CONFLICT ON CONSTRAINT uq_fact_seo_page_grain DO UPDATE SET\n  clicks = EXCLUDED.clicks,\n  impressions = EXCLUDED.impressions,\n  ctr = EXCLUDED.ctr,\n  avg_position = EXCLUDED.avg_position,\n  loaded_at = now();",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.activity_date, $json.page, $json.clicks, $json.impressions, $json.ctr, $json.avg_position, $json.source] }}"
        }
      },
      "id": "8be89a77-2b84-4ee8-b1e1-104c1107f715",
      "name": "Upsert fact_seo_page_daily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_quality_log (source, run_date, rows_in, rows_written, issues, issue_pct)\nVALUES ('gsc', CURRENT_DATE, $1, $2, $3, $4);",
        "options": {
          "queryBatching": "single",
          "queryReplacement": "={{ $(\"Build SEO Rows\").first().json._meta.rows_in + $(\"Build Page Rows\").first().json._meta.rows_in }},{{ $(\"Build SEO Rows\").all().length + $(\"Build Page Rows\").all().length }},{{ $(\"Build SEO Rows\").first().json._meta.issues + $(\"Build Page Rows\").first().json._meta.issues }},{{ (function(){ const ri = $(\"Build SEO Rows\").first().json._meta.rows_in + $(\"Build Page Rows\").first().json._meta.rows_in; const is = $(\"Build SEO Rows\").first().json._meta.issues + $(\"Build Page Rows\").first().json._meta.issues; return ri ? Number((is / ri * 100).toFixed(2)) : 0; })() }}"
        }
      },
      "id": "8c95551a-dd5a-4c39-9fec-86d28528e80b",
      "name": "Write data_quality_log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        464
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ch1cQkzV21w5Wpxf",
          "name": "CWSI"
        }
      }
    }
  ],
  "connections": {
    "Daily 05:15": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "GSC: Query by Country",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC: Query by Country": {
      "main": [
        [
          {
            "node": "Build SEO Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SEO Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_seo_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert fact_seo_daily": {
      "main": [
        [
          {
            "node": "GSC: Query Top Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC: Query Top Pages": {
      "main": [
        [
          {
            "node": "Build Page Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page Rows": {
      "main": [
        [
          {
            "node": "Upsert fact_seo_page_daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert fact_seo_page_daily": {
      "main": [
        [
          {
            "node": "Write data_quality_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a95cb778eae0663b4dfe0798e4303eb96d7283a0fa7c7bd7d64566afea813e43"
  }
}